body{
  font-size: large;
  color: lightgray;
  background-color: #0B2447;
}

.section_img {
  max-width: 100%;
}
.banner_img {
  max-width: 50%;
}
#logo {
  max-width: 70%;
}
li.logo{
  margin-right: auto;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;

  padding: 0;
  list-style-type: none;
}

.articlelink{
  color: #576CBC;
  text-decoration: none;
}
.navbarlink{
  display: block;
  padding: 1em;
  margin: 0.5em;
  color: #A5D7E8;
  text-decoration: none;
}
#main_container{
  display: grid;
grid-template-rows: auto auto minmax(50px, 100px);
grid-template-columns: minmax(10px,100px) auto minmax(10px,100px);
grid-template-areas:
"header header header"
"leftMargin content rightMargin"
"footer footer footer";

}
#header{
  display: grid;
grid-template-rows: 1fr 2fr;
grid-template-areas:
"navbar"
"banner";

  grid-area: header;
}
#navbar{
  grid-area: navbar;
  justify-self: stretch;
  align-self: center;
  background-color: #19376D;

}
#banner{
  grid-area: banner;
  justify-self: center;
  display: flex;
  justify-content: center;
}
#articleimage{
  grid-area: banner;
  justify-self: center;
}
#main_content{
  grid-area: content;

}
#leftMargin{
  grid-area: leftMargin;
}
#rightMargin{
  grid-area: rightMargin;
}
footer{
  grid-area: footer;
}

h1{
  color: #A5D7E8;
}
.code{
  display: block;
  background-color: #A5D7E8;
  color: #0B2447;
  font-size: x-large;
}
