{% extends "articles/base.html" %}
{% load static %}

{% block title %}{{ article.title }}{% endblock %}
{% block banner %}
  <img class="banner_img" src="{% if article.image %}{{ article.image.url }}{% else %}{% static 'img/main_banner.svg' %}{% endif %}" alt="main image"/>
{% endblock banner %}


{% block content %}
  <h1>{{ article.title }}</h1>
  <p class="date"> Created {{ article.created }} by Mendez </p>
  <p> {{ article.description|linebreaks }}</p>
  <ul class="unformatted_list">
    {% for section_info in sections_order %}
      <h2><li>{{ section_info.order }}.{{ section_info.section.title }}</li></h2>
      <p>{{ section_info.section.bodytext }}</p>
      {% for subsection in section_info.section.subsections.all %}
        <p class="code">{{ subsection.code|linebreaksbr }}</p>
      {% if subsection.image %}
      <img class="section_img" src="{{ subsection.image.url }}" alt="section image"/>
      {% endif %}
      {% endfor %}
  {% endfor %}
  </ul>
{% endblock content %}
