{% extends "articles/base.html" %}
{% load static %}

{% block title %}Python RUDN{% endblock %}
    {% block image %}
    <figure>
      <img src="{% static 'img/python_logo_long.svg' %}" alt="main image"/>
    </figure>
    {% endblock %}

{% block content %}

  <h1>Python Tutorials</h1>
  {% for article in articles %}
  <div id="separator">
    <h2>
      <a href="{{ article.get_absolute_url }}">
        {{ article.order }}.
        {{ article.title }}
      </a>
    </h2>
    <p class="date">
      updated {{ article.updated }} by Mendez
    </p>
    {{ article.description|truncatewords:30|linebreaks }}
  </div>
  {% endfor %}
  {% include "pagination.html" with page=page_obj %}

{% endblock %}
