{% extends "articles/base.html" %}
{% load static %}
  
{% block title %}Python RUDN{% endblock %}
{% block banner %}
  <img class="banner_img" src="{% static 'img/main_banner.jpg' %}" alt="main image"/>
{% endblock banner %}

  {% block content %}
    <h1>Python Tutorials</h1>
      {% for article in articles %}
        <h2>
          <a class="articlelink" href="{{ article.get_absolute_url }}">
            {{ article.order }}.
            {{ article.title }}
          </a>
        </h2>
        <p class="date">
          updated {{ article.updated }} by Mendez
        </p>
        <p>{{ article.description|truncatewords:30|linebreaks }}</p>
      {% endfor %}
      {% include "pagination.html" with page=articles %}
      {% endblock content %}
