{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock title %}</title>
  <link href="{% static "css/articles.css" %}" rel="stylesheet">
  {% comment %}
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
  {% endcomment %}
</head>
<body>

<div id="main_container">
  <header id="header">
    <nav id="navbar">
      <ul>
{% block navbar %}
{% endblock navbar %}
      </ul>
    </nav>

    <figure id="banner">
      {% block banner %}
      {% endblock banner %}
    </figure>
  </header>

    <main id="main_content">
      {% block content %}
      {% endblock content %}
    </main>
</body>
</div>
</html>
