{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock title %}</title>
  <link href="{% static "css/articles.css" %}" rel="stylesheet">
  {% comment %}
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
  {% endcomment %}
</head>
<body>

<div id="main_container">
  <header id="header">
    <nav id="navbar">
      <ul>

{% block navbar %}
  <li class="logo"><a href="{% url "articles:article_list" %}"><img id="logo" src="{% static 'img/programming.png' %}"/></a></li>
{% for cat in categories %}
 <li><a class="navbarlink" href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
{% endfor %} 
{% endblock navbar %}

      </ul>
    </nav>

    <figure id="banner">
      {% block banner %}
      {% endblock banner %}
    </figure>
  </header>

    <main id="main_content">
      {% block content %}
      {% endblock content %}
    </main>
</body>
</div>
</html>
